.form-icon {
    padding: 10px;
    color: #007bff; /* Change the color here */
  }
  .white-icon {
    color: #fff; /* Change to white */
  }
  /* Center the form */
  .center-form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  .form-container {
    max-width: 400px;
    width: 100%;
  }
  .success-message {
    display: none;
    text-align: center;
    margin-top: 20px;
    color: green;
  }
  h2.text-center {
    font-family: 'Roboto', sans-serif;
    font-weight: 700; /* Use the desired font weight */
}
body{
  background-color: pink;
}